.holder {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 0;
  padding: 0;
  border: 4px solid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.item:nth-child(1) {
  order: -5;
  background-color: red;
  flex-basis: 50%;
  border-top-left-radius: 15px;
}

.item:nth-child(2) {
  order: -2;
  background-color: cornflowerblue;
}

.item:nth-child(3) {
  order: -3;
  background-color: purple;
}

.item:nth-child(4) {
  order: -1;
  background-color: green;
}

.item:nth-child(5) {
  order: -4;
  background-color: orange;
  flex-basis: 50%;
  border-top-right-radius: 15px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100px;
  height: 50px;
}
